<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Poppins">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Rx Mgmt Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />

</head>
<body>
	<header id="header-issues" class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" th:href="@{/refills}">View Refills</a> 
					<a class="nav-item nav-link" th:href="@{/users}">View Users</a>
					<a class="nav-item nav-link" th:href="@{/pharmacy}">Pharmacy</a>
					<a class="nav-item nav-link active" th:href="@{/viewissues}">View Issues</a>
					<a class="nav-item nav-link" th:href="@{/logout}">Log Out</a>
				</div>
			</nav>
		</div>
	</header>
<div class="div w-100 p1">
	<div class="col">
	<img class="issues" th:src="@{/images/yellowbg.jpg}" alt="prescription image">
	</div>
</div>

<div class="row"><h3>Issues</h3></div>
<div class="col-8"> 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Issue Id</th>
      <th scope="col">Reported Problem</th>                                             	
    </tr>
  </thead>
  <tbody>
   <tr th:block th:each="issue: ${problems}">
		<td th:text="${issue.id}" />
		<td th:text="${issue.issueTxt}" />
		<td>
		<a class="h6" th:href="@{'/issues/update/' + ${issue.id}}"> Resolve </a>
		</td>
		<td>
		<a class="h6" th:href="@{'/issues/delete/' + ${issue.id}}"> Delete </a>
		</td>
	</tr>
  </tbody>
</table>
</div>
</body>
</html>